
/src/Supercell.Laser.Logic/obj
/src/Supercell.Laser.Titan/obj
/src/Supercell.Laser.Server/obj
/src/Supercell.Laser.Server/bin
/src/Supercell.Laser.Logic/bin
/src/Supercell.Laser.Titan/bin
/src/.idea
/.idea
/src/.vs
